.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-items: start;
}
.sub {
    min-width: 3em;
    text-align: center;
}
.sub:nth-child(even) {
    background: lightblue;
}